// media queries

// intermediate screen
@media screen and (max-width: 768px) {
  #video-background {
    display: none;
  }

  #image-background {
    display: inline;
    object-fit: cover;
    height: 100%;
    position: absolute;
  }

  .container {
    flex-direction: column-reverse;
    justify-content: space-between;
    position: relative;

    .titles {
      .title {
        font-size: 4rem;
      }
    }

    .navbar {
      background: $navbar-blue;
      margin: 0;
      padding: 0;

      ul {
        display: flex;
        justify-content: space-around;

        li {
          margin: 0.375rem;
          padding: 0.375rem;
          font-size: 1rem;
        }
      }
    }
  }
}

// mobile screen
@media screen and (max-width: 400px) {
  // hamburger menu

  // verticalise
  #hamitems li a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid $secondary;
    padding-top: 5px;
  }

  // show hamburger
  #hamnav label {
    display: inline-block;
    color: $primary;
    background: $navbar-blue;
    padding: 10px;
    font-size: 1.5rem;
  }

  // toggle show/hide
  #hamitems {
    display: none;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
  }

  // #hamnav {
  //   position: fixed;
  //   top: 0;
  // }

  // resizing
  .container {
    .titles {
      .title {
        font-size: 3rem;
      }

      .paragraph {
        font-size: 1.2rem;
      }

      .info-button {
        font-size: 1rem;
      }
    }
  }
}
