// theme colours
$primary: #ebebeb;
$secondary: #db5e16;
$active-link: #37db16;
$navbar-blue: #011172;

// spacing
$base-padding: 1rem;
$base-margin: 1rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 3px;

// box shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes
$base-font-size: 1rem;
